/* Conteiner */
:root {
    --color-primary-light: #F9F9F9;
    --color-primary-dark: #011C44;
    --color-brand: #2B7FFF;
    --color-secondary-dark: #747272;
}

/* Base */

body {
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

ul {
    list-style: none;
}

/* Link */
.head-link {
    color: var(--color-primary-dark);
}


.head-link:hover {
    color: var(--color-brand);
}

.footer-link {
    color: var(--color-primary-light);
}


.footer-link:hover {
    color: var(--color-brand);
}

/* Button */
button {
    background-color: var(--color-brand);
    color: var(--color-primary-light);
    border: 2px solid var(--color-brand);
    border-radius: 32px;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
    border: 2px solid var(--color-brand);
}

/* Hero Section */
.hero-title {
    color: var(--color-brand);
    font-family: Play, sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
}

/* Secondary Section */
.procedure-subtitle{
    color: var(--color-primary-light);
}

/* Title */
.section-title {
    font-family: Play, sans-serif;  
    font-size: 64px;
    font-weight: 700;
}


/* Accent */
.accent {
    color: var(--color-brand);
}

/* Footer */
footer {
    background-color: var(--color-primary-dark);
}
/* Form */
.signup-form {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
    border: 4px solid var(--color-primary-dark);
    border-radius: 4px;
}

.signup-form small {
    color: #747272;
}
.signup-form a {
    color: #747272;
}

/* Address */
.address {
    color: var(--color-primary-light);
}

.address a {
    color: var(--color-primary-light);
}

.copyright {
    color: var(--color-secondary-dark);
}

/* About section */
.about-text span{
    text-transform: capitalize;
    font-weight: 600;
}